.line-styling{
    position: relative;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 80%;
    margin: 30px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.line-styling .style-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
.line-styling .style-line{
    width: 95%;
    height: 5px;
    border-radius: 10px;
  }